/* 
* @Author: anchen
* @Date:   2017-01-04 22:37:09
* @Last Modified by:   anchen
* @Last Modified time: 2017-02-16 14:31:26
*/
*{
    margin: 0;
    padding: 0;
    font:normal 100% 'Microsoft Yahei';
}
/*menu*/
#menu{
    position: fixed;
    top: 50%;
    right: 20px;
    width: 90px;
    margin: -160px 0 0;
    padding: 0;
    list-style-type: none;
    z-index: 99;
}
#menu li{
    margin-top: 10px;
    font-size: 0.875em;
    text-align: center;
}
#menu a{
    display: block;
    width: 100%;
    padding:10px 0;
    background-color: #fff;
    text-decoration: none;
}
#menu .active a{
    background: rgb(0,115,234);
    color: #fff;
}

/*section*/
.section{
    overflow: hidden;
}
.container{
    width: 80%;
    height: 80%;
    margin: 5% auto;
    text-align: center;
}
h1{
    font-size: 5em;
}

/*section1*/
.section1 {
    color: #fff;
}
.section1 h1{
    font-size: 100px;
    margin: 200px 0 100px 0;
    
}
/*section2*/
.section2{
    color:#fff;
}
.section2 h1{
    display: none;
    font-size: 4.375em;
    margin-bottom: 60px;
}
.section2 .personal_detail{
    float: left;
    margin: 0 0 0 -50%;
    height: 70%;
    list-style-type: none;
    text-align: left;
    font-size: 20px;
}
.section2 .personal_detail li{
    height: 30px;
}
.section2 .personal_detail span{
    display: inline-block;
    width: 70px;
    text-align: right;
}
.section2 .personal_detail a{
    color: #fff;
    text-decoration: none;
}
.section2 .personal_skills{
    margin-left: 150%;
    height: 70%;
    width: 50%;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
}
.section2 .personal_skills p{
    margin-bottom: 20px;
}
.section2 .personal_skills b{
    font-size: 20px;
}

/*section3*/
.section3{
    color: #000;
    text-align: center;
    overflow: hidden;
}
.section3 h1{
    display: none;
    font-size: 80px;
    line-height: 100px;
    margin-bottom: 80px;
    border-bottom: 3px solid #000;
}
.section3 a{
    display: none;
    font-size: 32px;
    text-decoration: none;
    color: #000;
}
.section3 a:hover{
    text-decoration: underline;
}
/*section4*/
.section4 {
    text-align: center;
    color: #054B6B;
    overflow: hidden;
}

.section4 h1{
    display: none;
    margin: 10px;
    line-height: 100px;
    font-size: 80px;
    border-bottom: 3px solid;
}

.section4 h3{
    margin-top: 100%;
    font-size: 40px;
}
.section4 div{
    height: 70%;
    line-height: 40px;
    font-size: 18px;
}
.section4 .bigfont {
    font-size: 30px;
    font-weight: bold;
    color:#054B60;
}
